mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Web Applications for portfolio management
                .about-section__card-info
                    p Our asset management software will help you seamlessly and effortlessly running daily basis tasks such as asset and portfolio management, as it automates workflows of custodian banks and brokers, back and middle office activities, risk management, as well as report generation.
                    blockquote
                        p Our web application is perfectly optimised for cross platform usage so that your team can run it on any device (computers, tablets and smartphones).
                    p You can set up permission levels for each team member or department for access and they can still use the samedatabase, saving time and money.
