mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Web Applications for portfolio management
                    h4 Do it faster, do it better!
                .about-section__card-info
                    p Our asset management software will support you in your daily basis task such as asset and portfolio management, automatic flows with custodian banks, back and middle office activities, risk management, and report generation.
                    blockquote
                        p We developed a web application that your team can run in any device (from pc to tablet and smartphone).
                    p Your team will run the same application (with the possibility to set different permission for each person of team) acting on a unique database, saving time and money.
