mixin header(args)
    - opts = args || {}
    header
        div.toolbar
            ul
                li
                    a(href="#home") Home
                li
                    a.js-link.js-anchor(href="#about") About
                li
                    a.js-link.js-anchor(href="#services") Services
                li
                    a.js-link.js-anchor(href="#process") Process
                li
                    a.js-link.js-anchor(href="#projects") Projects
                li
                    a.js-link.js-anchor(href="#contacts") Contacts
