mixin home()

    section#home.home-section
        .home-section__bg
        .home-section__overlay
            .container
                div.toolbar
                        ul
                            li
                                a(href="#home") Home
                            li
                                a(href="#about") About
                            li
                                a(href="#services") Services
                            li
                                a(href="#process") Process
                            li
                                a(href="#projects") Project
                            li
                                a(href="#contacts") Contacts

                header.home-section__header
            
                    <!-- p.home-section__header-label We Are -->
                    h1.ml3 CARBUZ LTD
                    h2 Risk Management and Operations Portfolio Management Solution
