mixin process()
    section#process.common-section
        .container
            header.common-section__header
                h2 How It Works
                h4 A recap of the main functionalities
            .grid-container
                ul.process
                    li.process__step.process__step_research
                        .process__step-icon.icon.icon_research.is-active
                    li.process__step-info.process__step-info_research.is-active
                        h3
                            span Step 1
                            |  &mdash; Insert your orders
                        p Insert your orders throw a file template: the software will check if all the limits you set up are respected giving you the possibility to send them to your broker.
                    li.process__step.process__step_develop
                        .process__step-icon.icon.icon_develop
                    li.process__step-info.process__step-info_develop
                        h3
                            span Step 2
                            |  &mdash; Insert and reconcile transactions
                        p Once you receive the confirmation of the executed order, the software will import it and will automatically reconcile it with the pending orders. Our product allows you to generate custom emails and files for the most common middle and back office operations.
                    li.process__step.process__step_deploy
                        .process__step-icon.icon.icon_deploy
                    li.process__step-info.process__step-info_deploy
                        h3
                            span Step 3
                            |  &mdash; Be focus on your portfolios
                        p Portfolios will be automatically updated with the last available data, providing you useful information about your portfolios (like returns, post compliance reports, expected tax/trading fees, expected management/performance fees, etc)
                    li.process__step.process__step_deliver
                        .process__step-icon.icon.icon_deliver
                    li.process__step-info.process__step-info_deliver
                        h3
                            span Step 4
                            |  &mdash; Enjoy our reports
                        p Custom excel/pdf reports can be extracted from the platform according to your needs.
