mixin projects()
    section#projects.common-section
        header.common-section__header
            h2 Our Asset Manager Software
            h4 Find some views of the existing modules

        .projects-wrap
            .grid-container
                .projects
                    figure.projects__item
                        img(src="static/images/projects/1.jpg" alt="Order Register")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Order Register
                    figure.projects__item
                        img(src="static/images/projects/2.jpg" alt="Order / Position limit check")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Order / Position limit check
                    figure.projects__item
                        img(src="static/images/projects/5.jpg" alt="Portfolio view")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Portfolio view
                    figure.projects__item
                        img(src="static/images/projects/6.jpg" alt="It works on mobile devices!")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") It works on mobile devices!
                    figure.projects__item
                        img(src="static/images/projects/3.jpg" alt="Drag and drop your file to import your data")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Drag and drop your file to import your data
                    figure.projects__item
                        img(src="static/images/projects/4.jpg" alt="Create email with the data you need directly in the platform!")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Create email with the data you need directly in the platform!
                    figure.projects__item
                        img(src="static/images/projects/7.jpg" alt="Generate gorgeous reports!")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Generate gorgeous reports!
                    figure.projects__item
                        img(src="static/images/projects/8.jpg" alt="Enjoy interactive charts!")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") Enjoy interactive charts!
