mixin services()
    section#services.common-section
        .container
            header.common-section__header
                h2 Software Modules
                h4 Let us help you to better organize your work!
            .grid-container
                ul.services.services_advisory
                    li.services__item.icon.icon_research
                        h4 Transaction
                        p Save all transactions imported into the system through an excel with pre-established fields, or by a custom file (even pdf!) provided directly from your broker. Surely, you can  manually entering the detail trade. The software allows the calculation of the commission profile of each transaction on the basis of the counterpart and likewise the taxes to be applied to the transaction. The inserted transactions can then be filtered by date / entry field in order to facilitate the management of the same.

                    li.services__item.icon.icon_strategy
                        h4 Orders
                        p keep an order log with all the main information of the orders. Orders can be imported manually, by an excel uploaded by the user (even attached to a predefinited mail). There is also the opportunity to upload data from a predefined email with the excel attached as an attachment. This module provides for the possibility of sending orders - by mail or fax - to brokers. In addition there is a function to reconcile the order with the confirmation in pdf, text or excel format received from the broker.
                    li.services__item.icon.icon_improve
                        h4 Reports
                        p Create your pdf custom report, with your logo selecting all the tables and the charts you want to plot! Or - if you prefer an excel, you can select and rearrange all the column you want to export for each provided table. Create a good looking report with the needed information has never been so easy! 

                ul.services.services_pm
                    li.services__item.icon.icon_plan
                        h4 Positions
                        p The Software calculates the portfolio positions resulting from all the transactions entered by the managers, valued according to the prices provided by the financial provider. A specific report is also provided that highlights any differences between the official bank position at a certain date, on the one hand, and the position registered in the software, on the other. Through this module it is possible to check ex-post that the limits are respected.
                    li.services__item.icon.icon_recover
                        h4 Risk Management
                        p Check all that that your current positions or your orders respect the limits you selected. 
                    li.services__item.icon.icon_support
                        h4 And much more...
                        p The platform provide many other funtionalities: you can schedule tasks (like for example sending custom reports to certain mail at a selected hours), restore records that you delete by mistake, present interactive charts to your clients, generate invoices, find selected assets in all the portfolios, associate file to a particular entity (clients, brokers, trades, orders...)... and much more! 
                .advantages
                    h2 Why Choose Us?
                    blockquote
                        p We provide effective affordable software solutions for managing private portfolios or funds. Our product is ideal to support asset managers and advisors in all their most important functions. It has been developed having mobility in mind (it works on tablets and smartphones allowing great flexibility and incredible presentations to clients). Additionally the product can be easy customized!

