mixin services()
    section#services.common-section
        .container
            header.common-section__header
                h2 Software Modules
                h4 Let us help you to better organize your work!
            .grid-container
                ul.services.services_advisory
                    li.services__item.icon.icon_briefcase-1
                        h4 Transactions
                        p Save all transactions in the system through an excel with pre-established fields or using custom files (even pdf!) provided directly from your broker or your bank. If you need, you can manually enter details of a transaction. The software allows calculating commissions of each transaction as well as taxes and accrued interests. The inserted transactions can then be filtered by date / entry field for easy management.

                    li.services__item.icon.icon_basket-1
                        h4 Orders
                        p As for transactions, we have a registry where you can save all your orders. Orders can be imported manually, by uploading excel files by the the user (even attached to a predefined mail). This module makes it possible to send orders - by mail or fax - to brokers. In addition, there is a function to reconcile orders with the confirmations (in pdf, text or excel format) received from the broker or bank.

                    li.services__item.icon.icon_file-pdf
                        h4 Reports
                        p Create custom pdf reports, with your logo including all tables and charts you want to plot! Or - if you prefer an excel file - you can select and rearrange all the columns you want to export for any given table. Creating a professional looking report with essential information has never been so easy!

                ul.services.services_pm
                    li.services__item.icon.icon_bank
                        h4 Positions
                        p The Software calculates aggregate portfolio positions resulting from individual or batch transactions as entered by managers. Additionally, it generates a specific report highlighting any differences between the official broker or bank position at a certain date on one hand, and the position registered in the software, on the other. Through this module it is possible to check ex-post whether selected limits are respected (a crucial task for UCITS funds for example).

                    li.services__item.icon.icon_chart-pie
                        h4 Risk Management
                        p Check all of your current positions (ex post control) and your orders (ex-ante control) ensuring that the limits you selected are respected.

                    li.services__item.icon.icon_support
                        h4 And much more...
                        p The platform has many more useful functions: you can schedule tasks (such as sending custom reports to certain email addresses at a selected time), restore records that were deleted by mistake, present interactive charts to your clients, generate invoices, find selected assets in all portfolios, associate files to particular entities (clients, brokers, trades, orders, etc)... and much more!

                .advantages
                    h2 Why Choose Us?
                    blockquote
                        p We provide an effective affordable software solution for managing private portfolios or funds. Our product is ideal in supporting asset managers and advisors in all of their most important tasks. It works not only on computers but also on tablets and smartphones seamlessly. Additionally, the product can be easily customised according to your needs!
