mixin services()
    section#services.common-section
        .container
            header.common-section__header
                h2 Software Modules
                h4 Let us help you to better organize your work!
            .grid-container
                ul.services.services_advisory
                    li.services__item.icon.icon_research
                        h4 Transaction
                        p Save all transactions into the system through an excel with pre-established fields or using custom files (even pdf!) provided directly from your broker or your bank. If you need, you can manually enter the details of a transaction. The software allows the calculation of commissions of each transaction as well as taxes and accrued interests. The inserted transactions can then be filtered by date / entry field in order to facilitate their management.

                    li.services__item.icon.icon_strategy
                        h4 Orders
                        p As for transactions, we have a register where you can save all your orders. Orders can be imported manually, by an excel uploaded by the user (even attached to a predefined mail). This module provides for the possibility of sending orders - by mail or fax - to brokers. In addition, there is a function to reconcile orders with the confirmations (in pdf, text or excel format) received from the broker or bank.
                    li.services__item.icon.icon_improve
                        h4 Reports
                        p Create your pdf custom report, with your logo selecting all the tables and the charts you want to plot! Or - if you prefer an excel - you can select and rearrange all the columns you want to export for any provided table. Create a good looking report with the needed information has never been so easy! 

                ul.services.services_pm
                    li.services__item.icon.icon_plan
                        h4 Positions
                        p The Software calculates the portfolio positions resulting from all the transactions entered by the managers. Additionally, we provide a specific report highlighting any differences between the official bank position at a certain date, on the one hand, and the position registered in the software, on the other. Through this module it is possible to check ex-post that the selected limits are respected (crucial task for UCITS funds for example).
                    li.services__item.icon.icon_recover
                        h4 Risk Management
                        p Check all that your current positions (ex post control) or your orders (ex-ante control) respect the limits you selected.
                    li.services__item.icon.icon_support
                        h4 And much more...
                        p The platform provide many other functionalities: you can schedule tasks (like for example sending custom reports to certain mail at a selected hours), restore records that you delete by mistake, present interactive charts to your clients, generate invoices, find selected assets in all the portfolios, associate file to a particular entity (clients, brokers, trades, orders, etc)... and much more! 
                .advantages
                    h2 Why Choose Us?
                    blockquote
                        p We provide an effective affordable software solution for managing private portfolios or funds. Our product is ideal to support asset managers and advisors in all their most important activities. It has been developed having mobility in mind (it works on tablets and smartphones allowing great flexibility and incredible presentations meeting clients). Additionally, the product can be easy customized according to your needs!

