// Common layout elements
html, body
    width: 100%
    height: 100%
    color: #2c3e50
    font-family: $font-sans
    line-height: 1.2

body
    background: #fff url('../images/bg-pattern.jpg') repeat

.container
    position: relative
    max-width: 1200px
    margin: 0 auto
    +clearfix

.common-section
    padding-top: 100px
    +gs()

    @media screen and (max-width: 800px)
        padding-top: 50px

    &__header
        padding-bottom: 50px
        text-align: center
        +gs-column(12)

        @media screen and (max-width: 800px)
            padding-bottom: 30px

.grid-container
    +gs()


// Typography
*::selection
    color: $color-light
    background-color: $color-dark

*::-moz-selection
    color: $color-light
    background-color: $color-dark

h1, h2, h3, h4, h5, h6
    font-weight: normal
h1
    font-size: 60px
    font-family: $font-maintitle

    @media screen and (max-width: 1200px)
        font-size: 55px

    @media screen and (max-width: 800px)
        font-size: 50px

h2
    font-family: $font-title
    font-size: 40px

    @media screen and (max-width: 1200px)
        font-size: 35px

    @media screen and (max-width: 800px)
        font-size: 30px

h3
    font-size: 30px

    @media screen and (max-width: 1200px)
        font-size: 25px

    @media screen and (max-width: 800px)
        font-size: 20px

h4
    font-size: 20px

    @media screen and (max-width: 1200px)
        font-size: 18px

h5
    font-size: 18px

    @media screen and (max-width: 800px)
        font-size: 16px

p
    font-family: $font-paragraph
    font-size: 18px

    @media screen and (max-width: 800px)
        font-size: 16px

li p
    font-family: $font-paragraph

a
    color: #2c3e50
    font-family: $font-paragraph
    font-size: 18px
    text-decoration: none
    outline-style: none
    //border-bottom: 1px dashed #2c3e50
    &:hover
        border-color: transparent

.ml3 
  font-weight: 900;
  font-size: 3.5em;


.icon
    &:before
        font-family: "ip"
        font-style: normal
        font-weight: normal

    &_menu
        &:before
            content: "\e801"
        &.is-closed:before
            content: "\e809"

    &_spoiler
        &.is-opened:before
            content: "\e803"
        &.is-closed:before
            content: "\e802"

    @function unicode($str)
        @return unquote("\"") + $str + unquote("\"")
    $icons: briefcase-1 \e80d, basket-1 \e80f, chart-pie \f200, file-pdf \f1c1, bank \f19c, database \f1c0, chart-area \f1fe, chart-line-1 \f201, export \e815, mail \e810, menu \f0c9, research \e80b, improve \e80f, plan \e80c, recover \e80a, support \e80e, deliver \e810, gotop \e817, gonext \e818, fb \e811, twi \e812, gplus \e813, vk \e814, in \e82b, rss \e816, location \e806, ql \e804, qr \e805, link \e819, phone \e81a
    @each $icon in $icons
        &_#{nth($icon, 1)}
            &:before
                content: unicode(nth($icon, 2))
